{{#each students}}
   <div class="page">
      <table>
         <colgroup>
            <col style="width: 2.25in;" />
            <col style="width: 3.5in;" />
            <col style="width: 2.25in;" />
         </colgroup>
         <tr>
            <td>&nbsp;</td>
            <td class="center">
               <h2>{{ school }}</h2>
               <h4 class="bold">Public Schools Branch</h4>
               <h4>Prince  Edward Island</h4>
               <h4>Principal: {{ principal }}</h4>
               <h3>{{ ../reportconfig.title }}</h3>
               <h4>{{ ../reportconfig.yearname }}</h4>
            </td>
            <td>&nbsp;</td>   
         </tr>
         <tr class="bottom">
            <td class="left">
               Student Number: {{ student_number}}<br />
               Homeroom: {{ home_room }}
            </td>
            <td class="center"><h1>{{ student_name }}</h1></td>
            <td class="right">
               Date of Birth: {{ dob }}<br>
               Grade: {{ grade_level }}
            </td>
         </tr>
      </table> 
      {{#each semCourses}}
         <table id="semcourse0" class="course">
            <colgroup>
               <col style="width: 2in;" />
               <col style="width: 2in;" />
               <col style="width: 4in;" />
            </colgroup>
            <tr>
               <td class="courseinfo" colspan="2">
                  <div class="leftblock">
                     Course name: {{{ course_name }}}<br/>
                     Course code: {{ course_number }}<br/>
                     Level: {{ level }}<br/>
                     Teacher(s): {{ teachers }}<br/>
                  </div>
                  <div class="rightblock">
                     Abs: {{ abs }}<br />
                     Late: {{ lates }}
                  </div>
               </td>
               <td class="comment left" rowspan="3">
                  <strong>Strengths and Areas for Growth:</strong> {{{ comment }}}
               </td>
            </tr>
            <tr>
               <td class="sem bold">Progress</td>
               <td class="sem bold">Final</td>
            </tr>
            <tr>
               <td class="sem">{{#if q3}}{{ round q3 }}{{else}}{{ round q1 }}{{/if}}</td>
               <td class="sem">{{#if s2}}{{ round s2 }}{{else}}{{ round s1 }}{{/if}}</td>
            </tr>
         </table>
      {{/each}}
      {{#each fyCourses}}
         <table id="fycourse0" class="course">
            <colgroup>
               <col style="width: 1in;" />
               <col style="width: 1in;" />
               <col style="width: 1in;">
               <col style="width: 1in;">
               <col style="width: 4in;" />
            </colgroup>
            <tr>
               <td class="courseinfo" colspan="4">
                  <div class="leftblock">
                     Course name: {{{ course_name }}}<br/>
                     Course code: {{ course_number }}<br/>
                     Level: {{ level }}<br/>
                     Teacher(s): {{ teachers }}<br/>
                  </div>
                  <div class="rightblock">
                     Abs: {{ abs }}<br />
                     Late: {{lates }}
                  </div>
               </td>
               <td class="comment left" rowspan="3">
                  <strong>Strengths and Areas for Growth: </strong>{{{comment}}}
               </td>
            </tr>
            <tr>
               <td class="sem bold">Q1</td>
               <td class="sem bold">Q2</td>
               <td class="sem bold">Q3</td>
               <td class="sem bold">Final</td>
            </tr>
            <tr>
               <td class="sem">{{ round q1}}</td>
               <td class="sem">{{ round q2}}</td>
               <td class="sem">{{ round q3}}</td>
               <td class="sem">{{ round q4}}</td>
            </tr>
         </table> 
      {{/each}}   
      <div class="footer">
         <div class="signature">
                    {{#if ../reportconfig.teachersig}}<span class="teacher">Teacher(s): <span class="sig-line">&nbsp;</span></span> &nbsp; &nbsp; {{/if}}{{#if ../reportconfig.principalsig}}<span class="principal">Principal: <span class="sig-line">&nbsp;</span></span>{{/if}}
         </div>
         <table class="footer1">
            <colgroup>
               <col style="width: 2in;">
               <col style="width: 2in;">
               <col style="width: 2in;">
               <col style="width: 2in;">
            </colgroup>
            <tr>
               <td class="top footer1--padding ">
                  The first digit indicates <br />
                  the grade level:<br />
                  <br/>
                  <span class="data">
                     4 = Grade 10<br> 
                     5 = Grade 11<br> 
                     6 = Grade 12<br>
                     7 = Grade 10/11<br>
                     8 = Grade 11/12<br>
                  </span>
               </td>
               <td class="top footer1--padding ">
                  The second digit indicates <br>
                  the level of difficulty:<br>
                  <br>
                  <span class="data">
                     0 = Open &nbsp; &nbsp;&nbsp; &nbsp;4 = Vocational<br>
                     1 = Advanced &nbsp; 5 = Vocational<br>
                     2 = Academic &nbsp; 6 = Modfied<br>
                     3 = General &nbsp; &nbsp;7 = Intervention<br>
                  </span>
               </td>
               <td class="top footer1--padding ">
                  The third digit indicates <br>
                  the credit value:<br>
                  <br>
                  <span class="data">
                     1 = 1 Credit<br>
                                       2 = 2 Credits<br>
                     3 = 3 Credits<br>
                     4 = 4 Credits
                  </span>
               </td>
               <td class="top footer1--padding ">
                  The fourth digit indicates <br>
                  the program identifier:<br>
                  <br>
                  <span class="data">
                     A to E = English Language Course<br>
                     F-H, J = French Immersion Course<br>
                     I &nbsp; &nbsp; &nbsp;= Essential Skills Achievement Pathway<br>
                     M to R = French Language Course<br>
                     S &nbsp; &nbsp; &nbsp;= Advanced Placement Course<br>
                     T &nbsp; &nbsp; &nbsp;= External Credit<br>
                     W to Z = Local Program Course
                  </span>  
               </td>
            </tr>
         </table>
         <table class="footer2">
            <tr>
               <td class="footer2--padding">Passing Grade = 50%</td>
               <td class="footer2--padding">1 Credit = 110+ Hours or ENR</td>
               <td class="footer2--padding">INC: No Mark Given for Various Reasons</td>
               <td class="footer2--padding">DIS: Discontinued</td>
               <td class="footer2--padding">ENR: Enrolled and Credit Received</td>
            </tr>
         </table>
         <table>
            <tr>
               <td class="left">V 4.0</td>
               <td class="center">{{ student_name }} ({{ student_number }}) - {{../reportconfig.printDate}}</td>
               <td class="right">Page: 1</td>
            </tr>
         </table>
      </div>              
   </div>
   <!-- Page break -->
   <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
   </div>

   <!-- Start of page 2 -->
   <div class="page">
      <header>
         <h2>{{ school }}</h2>
      </header>
      <div class="gradreqs">
         <h3>Graduation Requirements</h3>
         <p>For information on graduation requirements for Prince Edward Island, please review 
            <strong><a href="https://www.princeedwardisland.ca/graduationrequirements" target="_blank">https://www.princeedwardisland.ca/graduationrequirements</a></strong>
         </p>
         <br>
         &nbsp;<br>
         <h3>Credit Summary</h3>
         <div class="transcript-border">
            <table id="transcript-20124" class="transcript">
               <colgroup>
                  <col style="width: 20%">
                  <col style="width: 20%">
                  <col style="width: 40%">
                  <col style="width: 10%">
                  <col style="width: 10%">
               </colgroup>
               <tbody>
                  <tr>
                     <th>Year/Month</th>
                     <th>Course Code</th>
                     <th>Course Name</th>
                     <th>Mark</th>
                     <th>Credit</th>
                  </tr>
               {{#each transcript}}
                  <tr><td>{{lastday}}</td><td>{{courseNumber}}</td><td>{{courseName}}</td><td>{{round grade}}</td><td>{{credits}}.00</td></tr>
               {{/each}}
               </tbody>
            </table>
            <div class="credits-earned">
               Total Credits Earned: {{ creditHours }}
            </div>
            </div>
      </div>
      <div class="footer">
         <table>
            <tr>
               <td class="left">V 4.0</td>
               <td class="center">{{ student_name }} ({{ student_number }}) - {{../reportconfig.printDate}}</td>
               <td class="right">Page: 2</td>
            </tr>
         </table>
      </div>
   </div>
   <div class="pageBreak" style="clear: both;">
      <div class="noprint" style="border-top: thin dotted;width: 100%;"></div>
   </div>
{{/each}}